<%include ./layout/header%>
<div class="zm-section bg-white ptb-70">
    <div class="container">
        <div class="row mb-40">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="section-title">
                    <h2 class="h6 header-color inline-block uppercase">Quản lý chuyên mục</h2>
                </div>
            </div>
        </div >
        <div class="form-success">
            <div class="success">
                <label for="">Xuất bản</label>
                <form>
                <div class="form-group">
                       <label>Chuyên mục</label>
                            <select id="inputState" class="form-control">
                                <option selected>Kinh doanh</option>
                                <option>Thể thao</option>
                            </select>
                </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Thẻ tags</label>
                    <input type="text" placeholder="Chuyên mục">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Thời gian xuất bản</label>
                    <div class="boxreg-birthday">
                        <div class="input-birthday">
                            <select name="day" id="day" class="input-birthday-day">
                                    <option disabled="disabled" selected="selected" value="">Ngày</option>
                                    <option value="1"></option>
                            </select>
                            <select name="month" id="month" class="input-birthday-month">
                                    <option disabled="disabled" selected="selected" value="">Tháng</option>
                                    <option value="1"></option>
                            </select>
                            <select name="year" id="year" class="input-birthday-year">
                                <option disabled="disabled" selected="selected" value="">Năm</option>
                                <option value="1"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Ok</button>
                <button type="submit" class="btn btn-primary">Huỷ</button>
                </form>
            </div>
        </div>
        <div class="editor">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                    <th style="display: none"></th> 
                    <th scope="col">Thứ tự</th>
                    <th scope="col">Tên bài viết</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">Chuyên mục</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hiệu chỉnh</th>
                    </tr>
                </thead>
                <tbody>
                    <% var i=0 %>
                    <% posts.forEach(function(rows){%>
                        <tr>
                                <th class="idPost" style="display: none"><%=rows.idPost%></th>
                                <th scope="row"><%=++i%></th>
                                <td><%=rows.title%></td>
                                <td><%=rows.writerName%></td>
                                <td><%=rows.categoryName%></td>
                                <td>
                                    <%if(rows.articleStatus===-1){%>
                                        <i class="fa fa-times-circle" style="color:rgb(216, 75, 75)"></i>
                                       
                                    <%}%>
                                    <%if(rows.articleStatus===1){%>
                                        <i class="fas fa-check-circle"></i>
                                    <%}%>
                                    <%if(rows.articleStatus===0){%>
                                        <i class="fas fa-stopwatch"></i>
                                    <%}%>
                                 
                                </td>
        
                                <td><a href="/editor/view/<%=rows.idPost%>"><button class="btn btn-info">Xem trước</button></a>
                                    <button class="btn btn-success btn-ok">Duyệt</button>
                                    <button class="btn btn-danger btn-reject">Từ chối</button>
                                </td>
                            </tr>        
                    <%});%>
                    
                </tbody>
            </table>
        </div>
        <div class="reject">
        <label for="">Lý do bạn từ chối bài viết</label>
            <form id="rejectForm" method="POST" action="/editor/reject/">
                <textarea name="reject" cols="30" rows="10"></textarea>
                <button type="submit" class="btn btn-success btnsuccess">Xác nhận</button>
            </form>
        </div>
       
    </div>
</div>
<%include ./layout/footer%>
<script>
    var idPost=document.getElementsByClassName('idPost');
    var rejectForm= document.getElementById('rejectForm');
    var btnReject=document.querySelectorAll('tbody tr td .btn-reject');
        for(let i=0;i<btnReject.length;i++){
            btnReject[i].onclick=function(){
                rejectForm.action+=idPost[i].innerText;
            };
        }
</script>