<% include ./layout/header%>
<% include ./layout/menu%>

    <!-- Block content -->
    <!-- Start trending post area -->
    <div class="trending-post-area">
        <div class="container">
            <div class="row mb-40 mt-40">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
                    <div class="section-title">
                        <h2 class="h6 header-color inline-block uppercase">#Trending</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="trend-post-list zm-posts owl-active-1">
                    <!-- Start single trend post -->
                    <div class="col-2">
                        <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5" data-scrim-bottom="9" data-effict-zoom="3">
                            <div class="zm-post-thumb">
                                <img src="uploads/images/post/trend/a/14.jpg" alt="img">
                            </div>
                            <div class="zm-post-dis text-white">
                                <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Bóng đá</a></div>
                                <h2 class="zm-post-title"><a href="blog-single-image.html">Ngược dòng điên rồ cúp C1: MU - Liverpool - Tottenham, ai ấn tượng nhất?</a></h2>
                                <div class="zm-post-meta">
                                    <ul>
                                        <li class="s-meta"><a href="#" class="zm-author">An phùng</a></li>
                                        <li class="s-meta"><a href="#" class="zm-date">May 9, 2019</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- End single trend post -->
                    <!-- Start single trend post -->
                    <div class="col-2">
                        <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5" data-scrim-bottom="9" data-effict-zoom="3">
                            <div class="zm-post-thumb">
                                <img src="uploads/images/post/trend/a/2.jpg" alt="img">
                            </div>
                            <div class="zm-post-dis text-white">
                                <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Sức khoẻ</a></div>
                                <h2 class="zm-post-title"><a href="blog-single-image.html">Căn bệnh nguy hiểm và khó ngờ từ đồ uống "ăn kiêng"</a></h2>
                                <div class="zm-post-meta">
                                    <ul>
                                        <li class="s-meta"><a href="#" class="zm-author">An phùng</a></li>
                                        <li class="s-meta"><a href="#" class="zm-date">May 9, 2019</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- End single trend post -->
                    <!-- Start single trend post -->
                    <div class="col-2">
                        <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5" data-scrim-bottom="9" data-effict-zoom="3">
                            <div class="zm-post-thumb">
                                <img src="uploads/images/post/trend/a/10.jpg" alt="img">
                            </div>
                            <div class="zm-post-dis text-white">
                                <div class="zm-category"><a href="#" class="bg-cat-1 cat-btn">Kinh doanh</a></div>
                                <h2 class="zm-post-title"><a href="blog-single-image.html">Bán gấu bông và mỳ tôm "trên trời", Vietjet thu hơn 300 tỷ đồng</a></h2>
                                <div class="zm-post-meta">
                                    <ul>
                                        <li class="s-meta"><a href="#" class="zm-author">An phùng</a></li>
                                        <li class="s-meta"><a href="#" class="zm-date">May 9, 2019</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- End single trend post -->
                    <!-- Start single trend post -->
                    <div class="col-2">
                        <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5" data-scrim-bottom="9" data-effict-zoom="3">
                            <div class="zm-post-thumb">
                                <img src="uploads/images/post/trend/a/4.jpg" alt="img">
                            </div>
                            <div class="zm-post-dis text-white">
                                <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Showbiz</a></div>
                                <h2 class="zm-post-title"><a href="blog-single-image.html">So sánh nhan sắc xinh đẹp như hot girl của vợ 3 nam diễn viên Cảnh sát hình sự</a></h2>
                                <div class="zm-post-meta">
                                    <ul>
                                        <li class="s-meta"><a href="#" class="zm-author">An phùng</a></li>
                                        <li class="s-meta"><a href="#" class="zm-date">May 9, 2019</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- End single trend post -->
                </div>

            </div>
        </div>
    </div>
    <!-- End trending post area -->

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">
        <!-- Start Popular News [layout A+D]  -->
        <div class="zm-section bg-white ptb-70">
            <div class="container">
                <div class="row mb-40">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <div class="section-title">
                            <h2 class="h6 header-color inline-block uppercase">Xem nhiều nhất</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                        <div class="zm-posts">  
                            <!-- Start single post layout D -->
                            <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/<%=posts[0].image%>" alt="img"></a>
                                        </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn"><%=posts[0].name%></a></div>
                                            <h2 class="zm-post-title"><a href="blog-single-image.html"><%=posts[0].title%></a></h2>
                                            <div class="zm-post-content content-abstract">
                                                    <%=posts[0].abstract%>
                                            </div>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Anphung</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2018</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </article>
                                <!-- Start single post layout D -->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                        <div class="zm-posts">
                            <!-- Start single post layout D -->
                            <article class="zm-post-lay-d clearfix">
                                    <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/<%=posts[0].image%>" alt="img"></a>
                                        </div>
                                    <div class="zm-post-dis f-right">
                                        <div class="zm-post-header">
                                            <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn"><%=posts[0].name%></a></div>
                                            <h2 class="zm-post-title"><a href="blog-single-image.html"><%=posts[0].title%></a></h2>
                                            <div class="zm-post-content content-abstract">
                                                    <%=posts[0].abstract%>
                                            </div>
                                            <div class="zm-post-meta">
                                                <ul>
                                                    <li class="s-meta"><a href="#" class="zm-author">Anphung</a></li>
                                                    <li class="s-meta"><a href="#" class="zm-date">April 18, 2018</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                            </article>
                                <!-- Start single post layout D -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Popular News [layout A+D]  -->
        <!-- Start Video Post [View layout A]  -->
        <div class="video-post-area ptb-70 bg-dark">
            <div class="container">
                <div class="row mb-40">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-title">
                            <h2 class="h6 header-color inline-block uppercase">Bài viết mới</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="zm-video-post-list zm-posts owl-active-3 navigator-1 clearfix">
                        <!-- Start single video post [video layout A] -->
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="zm-video-post zm-video-lay-a zm-single-post">
                                <div class="zm-video-thumb" data-dark-overlay="2.5">
                                    <img src="uploads/images/video/1.jpg" alt="video">
                                    <a class="video-activetor" href="https://www.youtube.com/watch?v=PsjFbwIQ8AY">
                                        <i class="fa fa-play-circle-o"></i>
                                    </a>
                                </div>
                                <div class="zm-video-info text-white">
                                    <h2 class="zm-post-title"><a href="blog-single-video.html">Consectetur adipisicing elit sed eiusmod tempor et dolore magna.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta zm-post-time">10:33 min</li>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single video post [video layout A] -->
                        <!-- Start single video post [video layout A] -->
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="zm-video-post zm-video-lay-a zm-single-post">
                                <div class="zm-video-thumb" data-dark-overlay="2.5">
                                    <img src="uploads/images/video/2.jpg" alt="video">
                                    <a class="video-activetor" href="https://www.youtube.com/watch?v=PsjFbwIQ8AY">
                                        <i class="fa fa-play-circle-o"></i>
                                    </a>
                                </div>
                                <div class="zm-video-info  text-white">
                                    <h2 class="zm-post-title"><a href="blog-single-video.html">Quis nostrud exercitation ullamco laboris nisi ut aliquip consequat. </a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta zm-post-time">10:33 min</li>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single video post [video layout A] -->
                        <!-- Start single video post [video layout A] -->
                        <div class="col-xs-12 hiddne-sm col-md-4 col-lg-4">
                            <div class="zm-video-post zm-video-lay-a zm-single-post">
                                <div class="zm-video-thumb" data-dark-overlay="2.5">
                                    <img src="uploads/images/video/3.jpg" alt="video">
                                    <a class="video-activetor" href="https://www.youtube.com/watch?v=PsjFbwIQ8AY">
                                        <i class="fa fa-play-circle-o"></i>
                                    </a>
                                </div>
                                <div class="zm-video-info  text-white">
                                    <h2 class="zm-post-title"><a href="blog-single-video.html">Duis aute irure dolor in reprehenderit in voluptate velit esse.</a></h2>
                                    <div class="zm-post-meta">
                                        <ul>
                                            <li class="s-meta zm-post-time">10:33 min</li>
                                            <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                            <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single video post [video layout A] -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Baivietmoi [View layout A]  -->

        <!-- Start Chuyenmucnoibat -->
        <div class="zm-section bg-white pt-70 pb-40">
            <div class="container">
                <div class="row">
                    <!-- Start left side -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 columns">
                        <div class="row mb-40">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="section-title">
                                    <h2 class="h6 header-color inline-block uppercase">Chuyên mục nổi bật</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="zm-posts">
                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/1.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-1 cat-btn">Travel</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Magna aliqua ut enim ad minim veniam quis nostrud quis xercitation ullamco.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->
                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/2.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Business</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->
                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/3.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Entertainment</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Minim veniam quis nostrud xercitation ullamco laboris nisi ut aliquip commodo.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->

                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/5.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-5 cat-btn">Food</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Quis nostrud xercitation ullamco laboris nisi aliquip ex ea commodo consequat.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->
                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/4.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Electronics</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->
                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/1.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-1 cat-btn">Travel</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Magna aliqua ut enim ad minim veniam quis nostrud quis xercitation ullamco.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->
                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/2.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-2 cat-btn">Business</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->
                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/3.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn">Entertainment</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Minim veniam quis nostrud xercitation ullamco laboris nisi ut aliquip commodo.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->

                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/5.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-5 cat-btn">Food</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Quis nostrud xercitation ullamco laboris nisi aliquip ex ea commodo consequat.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->
                                    <!-- Start single post layout C -->
                                    <article class="zm-post-lay-c zm-single-post clearfix">
                                        <div class="zm-post-thumb f-left">
                                            <a href="blog-single-image.html"><img src="uploads/images/post/c/4.jpg" alt="img"></a>
                                        </div>
                                        <div class="zm-post-dis f-right">
                                            <div class="zm-post-header">
                                                <div class="zm-category"><a href="#" class="bg-cat-4 cat-btn">Electronics</a></div>
                                                <h2 class="zm-post-title"><a href="blog-single-image.html">Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit.</a></h2>
                                                <div class="zm-post-meta">
                                                    <ul>
                                                        <li class="s-meta"><a href="#" class="zm-author">Thomson Smith</a></li>
                                                        <li class="s-meta"><a href="#" class="zm-date">April 18, 2016</a></li>
                                                    </ul>
                                                </div>
                                                <div class="zm-post-content">
                                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Start single post layout C -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End left side -->
                    <!-- Start Right sidebar -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 sidebar-warp columns">
                        <div class="row">
                            <!-- Start Subscribe From -->
                            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-12 xs-mt-40 sm-mt-50 md-mt-60">
                                <aside class="subscribe-form bg-dark text-center sidebar">
                                    <h3 class=" zm-post-title">Nhận tin miễn phí</h3>
                                    <p>Tin tức nổi bật cập nhật mỗi ngày của chúng tôi sẽ được gửi đến cho bạn</p>
                                    <form action="#">
                                        <input type="text" placeholder="Tên của bạn">
                                        <input type="email" placeholder="Email của bạn" required="">
                                        <input type="submit" value="Đăng kí">
                                    </form>
                                </aside>
                            </div>
                            <!-- End Subscribe From -->
                            <aside class="zm-tagcloud-list col-xs-12 col-sm-6 col-md-6 col-lg-12 mt-60">
                                <div class="row mb-40">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <h2 class="h6 header-color inline-block uppercase">Tags</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="zm-tagcloud">
                                            <%tag.forEach(function(rows){%>
                                                
                                                <a href="#"><%=rows.name%></a>
                                            <%});%>
                                            
                                        </div>
                                    </div>
                                </div>
                            </aside>

                        </div>
                    </div>
                    <!-- End Right sidebar -->
                </div>
            </div>
        </div>
    </section>
    <!-- End page content -->
<% include ./layout/footer%>