<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="../../assets/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="../../assets/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="../../assets/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="../../assets/css/custom.css">

    <!-- Style customizer (Remove these lines please) -->
    <link rel="stylesheet" href="../../assets/css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">
</head>

<body>

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start of header area -->
        <header class="header-area header-wrapper bg-white clearfix">
            <!-- Start Sidebar Menu -->
            <div class="sidebar-menu">
                <div class="sidebar-menu-inner"></div>
                <span class="fa fa-remove"></span>
            </div>
            <!-- End Sidebar Menu -->
            <div class="header-top-bar bg-dark ptb-10">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7  hidden-xs">
                            <div class="header-top-left">
                                <nav class="header-top-menu zm-secondary-menu">
                                    <ul>
                                    <!--
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Feature</a></li>
                                        <li><a href="#">Shortcodes</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                        -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <div class="header-top-right clierfix text-right">
                                <div class="header-social-bookmark topbar-sblock">
                                    <ul>
                                        <li><a href="https://www.facebook.com"><i class=" fab fa-facebook"></i></a></li>
                                        <li><a href="https://plus.google.com"><i class="fab fa-google-plus"></i></a></li>
                                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://dribbble.com"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                                <div class="zmaga-calendar topbar-sblock">
                                    <span class="calendar uppercase"></span>
                                </div>
                                <div class="user-accoint topbar-sblock">
                                <% if(login){%>
                                    <span><a href="/logout"><%=user.name%></a></span>
                                <%}else{%>
                                    <span class="login-btn uppercase">Đăng nhập</span>
                                <%}%>
                                    
                                    <div class="fullscreen-black"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobiletest">
                <div class="login-form-wrap bg-white">
                    <div class="header-login-form-wrap">
                        <div class="login-wrap">
                            <h3>Đăng nhập</h3>
                        </div>
                        <div class="register-wrap">
                            <h3>Đăng kí</h3>
                        </div>
                    </div>
                    <div class="divheight"></div>
                    <div class="content-login-form-wrap">
                        <div class="left-wrap">
                            <div class="content-left-wrap">
                                <div class="login-with-email"><p>Đăng nhập với Email</p></div>
                            <form class="zm-signin-form text-left">
                                <input type="text" class="zm-form-control username" placeholder="Username or Email">
                                <input type="password" class="zm-form-control password" placeholder="Password">
                                <input type="checkbox" value=" Remember Me" class="remember"> &nbsp;Nhớ mật khẩu<br>
                                <div class="zm-submit-box clearfix  mt-20">
                                    <button class="btn btn-login " type="submit" >Đăng nhập</button>
                                </div>
                                <a href="#" class="zm-forget">Quên mật khẩu ?</a>
                              
                            </form>
                            </div>
                            
                        </div>
                        <div class="right-wrap">
                            <div class="login-with-email"><p>Đăng nhập với</p></div>
                              <div class="zm-login-social-box">
                                    <a href="/auth/facebook" class="social-btn bg-facebook block"><span class="btn_text"><i class="fab fa-facebook"></i>Facebook</span></a>
                                    <a href="#" class="social-btn bg-google block"><span class="btn_text"><i class="fab fa-google"></i>Google</span></a>
                                </div>
                        </div>
                        
                    </div>
                    <div class="content-register-form-wrap">
                        <div class="left-wrap">
                            <div class="content-left-wrap">
                                <div class="login-with-email"><p>Tạo tài khoản</p></div>
                            <form class="zm-signin-form text-left">
                                <input type="text" class="zm-form-control username" placeholder="Username or Email">
                                <input type="password" class="zm-form-control password" placeholder="Password">
                                <div class="zm-submit-box clearfix  mt-20">
                                    <button class="btn btn-login " type="submit" >Đăng kí</button>
                                </div>
                                
                                <span>Khi bấm tạo tài khoản bạn đã đồng ý với <a href="#">quy định</a> của tòa soạn</span>
                            </form>
                            </div>
                            
                        </div>
                        <div class="right-wrap">
                            <div class="login-with-email"><p>Tạo tài khoản với</p></div>
                              <div class="zm-login-social-box">
                                    <a href="#" class="social-btn bg-facebook block"><span class="btn_text"><i class="fab fa-facebook"></i>Facebook</span></a>
                                    <a href="#" class="social-btn bg-google block"><span class="btn_text"><i class="fab fa-google"></i>Google</span></a>
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="header-middle-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-5 col-xs-12 header-mdh">
                            <div class="global-table">
                                <div class="global-row">
                                    <div class="global-cell">
                                        <div class="logo">
                                            <a href="/">
                                                <img src="../../uploads/images/logo/1.png" alt="main logo">
                                            </a>
                                            <p class="site-desc">News blog & Magazine Template</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="return">
            <a href="/writer" class="btn btn-success">Trở về</a>
        </div>
        <div class="zm-section bg-white ptb-70">
    <div class="container">
        
        <div class="row mb-40">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="section-title">
                    <h2 class="h6 header-color inline-block uppercase">Chỉnh sửa bài viết</h2>
                </div>
            </div>
        </div >
        <form autocomplete="off" method="POST" action="/writer/updatePost/<%=post[0].id%>" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-3 col-xs-12">  
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input name="title" type="text" class="form-control" placeholder="Nhập tiêu đề..." value="<%=post[0].title%>">
                    </div>
                    <div class="form-group">
                        <label>Nội dung tóm tắt</label>
                        <input name="abstract" type="text" class="form-control" placeholder="Nhập nội dung tóm tắt..." value="<%=post[0].abstract%>">
                    </div>
                    <div class="form-group">
                        <label>Ảnh</label>
                        <input type="file" name="image">
                    </div>
                    <div class="form-group">
                        <div>
                            <label>Chuyên mục</label>
                            <select id="inputState" name="idCategory" class="form-control">
                                <option selected="selected">Chọn chuyên mục</option>
                                
                                <%category.forEach(function(rows){%>
                                
                                    <%if(rows.id === post[0].idCategory){%>
                                        <option value="<%=rows.id%>" selected="selected"><%=rows.name%></option>
                                    <%}else{%>
                                        <option value="<%=rows.id%>"><%=rows.name%></option>
                                    <%}%>
                                    
                                <%});%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>Tag</label>
                            <select id="inputState" name="idTag" class="form-control">
                                <option selected="selected">Chọn Tag</option>
                                <%tag.forEach(function(rows){%>
                                    <%if(rows.id === post[0].idTag){%>
                                        <option value="<%=rows.id%>" selected="selected"><%=rows.name%></option>
                                    <%}else{%>
                                        <option value="<%=rows.id%>"><%=rows.name%></option>
                                    <%}%>
                 
                                <%});%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 ml-100 xs-ml-150">
                            <button type="submit" class="btn btn-primary">Lưu bài viết</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-9 col-xs-12">
                    <script src="../../ckeditor/ckeditor.js"></script>
                    <label>Nội dung</label>
                    <textarea class="ckeditor" name="editor"><%-post[0].content%></textarea>
                </div>
            </div>            
        </form>
    </div>
</div>

         <!-- Start footer top area -->
            <div class="footer-top-wrap ptb-70 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 hidden-sm">
                            <div class="zm-widget pr-40">
                                <h2 class="h6 zm-widget-title uppercase text-white mb-30">Giới thiệu</h2>
                                <div class="zm-widget-content">
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat, non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Sed ut perspiciatis unde omnis iste, voluptatem dolore mque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2">
                            <div class="zm-widget">
                                <h2 class="h6 zm-widget-title uppercase text-white mb-30">Kết nối với chúng tôi</h2>
                                <div class="zm-widget-content">
                                    <div class="zm-social-media zm-social-1">
                                        <ul>
                                            <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i>Like us on Facebook</a></li>
                                            <li><a href="https://twitter.com"><i class="fab fa-twitter"></i>Tweet us on Twitter</a></li>
                                            <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i>Pin us on Pinterest</a></li>
                                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i>Heart us on Instagram</a></li>
                                            <li><a href="https://plus.google.com"><i class="fab fa-google-plus"></i>Share us on GooglePlus</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-3">
                            <div class="zm-widget pr-50 pl-20">
                                <h2 class="h6 zm-widget-title uppercase text-white mb-30">Phổ biến</h2>
                                <div class="zm-widget-content">
                                    <div class="zm-category-widget zm-category-1">
                                        <ul>
                                            <li><a href="#">Kinh doanh<span>22</span></a></li>
                                            <li><a href="#">Bóng đá<span>18</span></a></li>
                                            <li><a href="#">Showbiz<span>09</span></a></li>
                                            <li><a href="#">Công nghệ<span>35</span></a></li>
                                            <li><a href="#">Thị trường<span>7</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-3">
                            <div class="zm-widget">
                                <h2 class="h6 zm-widget-title uppercase text-white mb-30">Subscribe Newsletter</h2>
                                <!-- Start Subscribe From -->
                                <div class="zm-widget-content">
                                    <div class="subscribe-form subscribe-footer">
                                        <p>Join 80,000+ awesome subscribers and update yourself with our exclusive news.</p>
                                        <form action="#">
                                            <input type="text" placeholder="Enter your full name">
                                            <input type="email" placeholder="Enter email address" required="">
                                            <input type="submit" value="Subscribe">
                                        </form>
                                    </div>
                                </div>
                                <!-- End Subscribe From -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 <!-- End footer top area -->
 <div class="footer-buttom bg-black ptb-15">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="zm-copyright">
                    <p>Make with ❤ by Thanh An Phung - HCMUS</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-right hidden-xs">
                <nav class="footer-menu zm-secondary-menu text-right">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Feature</a></li>
                        <li><a href="#">Shortcodes</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</footer>
<!-- End footer area -->
</div>
<!-- Body main wrapper end -->

<!--Color customizer -->
<div class="style-customizer closed">
<a class="opener" href="#"><i class="fas fa-cog fa-spin"></i></a>
<div class="clearfix content-chooser">
<ul class="styleChange clearfix">
    <li class="color-1" title="color-1" data-style="color-1" ></li>
    <li class="color-2" title="color-2" data-style="color-2"></li>
    <li class="color-3" title="color-3" data-style="color-3"></li>
    <li class="color-4" title="color-4" data-style="color-4"></li>
    <li class="color-5" title="color-5" data-style="color-5"></li>
    <li class="color-6" title="color-6" data-style="color-6"></li>
</ul>
</div>
</div>
<!--Color customizer end -->


<!-- Placed js at the end of the document so the pages load faster -->
<!-- jquery latest version -->
<script src="../../assets/js/vendor/jquery-1.12.1.min.js"></script>
<!-- Bootstrap framework js -->
<script src="../../assets/js/bootstrap.min.js"></script>
<!-- All js plugins included in this file. -->
<script src="../../assets/js/owl.carousel.min.js"></script>
<script src="../../assets/js/plugins.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="../../assets/js/main.js"></script>
<script src="../../assets/js/custom.js"></script>
</body>
</html>