<%include ./layout/header%>
<div class="zm-section bg-white ptb-70">
    <div class="container">
        <div class="row mb-40">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="section-title">
                    <h2 class="h6 header-color header-table-viewlistwrite inline-block uppercase">Danh sách bài viết <i class="fas fa-caret-down"></i></h2>
                </div>
            </div>
        </div >
        <div class="viewlistwrite">
            <table class="table table-bordered table-viewlistwrite" style="text-align:center">
                <thead class="thead-dark"  >
                    <tr>
                    <th scope="col" style="width:50px;text-align:center">Thứ tự</th>
                    <th scope="col" style="width:300px;text-align:center">Tên bài viết</th>
                    <th scope="col" style="width:220px;text-align:center">Trạng thái</th>
                    <th scope="col" style="width:95px;text-align:center">Hiệu chỉnh</th>
                    </tr>
                </thead>
                <tbody>
                    <%i=0%>
                    
                    <%posts.forEach(function(rows){%>
                        <tr>
                            <th scope="row"><%=++i%></th>
                            <td><%=rows.title%></td>
                            <td>
                                    <%if(rows.articleStatus===-1){%>
                                        <i class="fa fa-times-circle" style="color:rgb(216, 75, 75)"></i>
                                       
                                    <%}%>
                                    <%if(rows.articleStatus===1){%>
                                        <i class="fas fa-check-circle"></i>
                                    <%}%>
                                    <%if(rows.articleStatus===0){%>
                                        <i class="fas fa-stopwatch"></i>
                                    <%}%>
                                 
                                </td>
                            <td><a href="/writer/edit/<%=rows.id%>" class="btn btn-danger">Chỉnh sửa</a></td>
                        </tr>
                    <%})%>                             
                </tbody>
            </table>
            <div class="btnsuccess">
                <button class="btn btn-success">Rút gọn</button>
            </div>
        </div>
        <div class="row mb-40">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="section-title">
                    <h2 class="h6 header-color inline-block uppercase">Đăng bài viết</h2>
                </div>
            </div>
        </div >
        <form autocomplete="off" method="POST" action="/writer/addPosts" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-3 col-xs-12">  
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input name="title" type="text" class="form-control" placeholder="Nhập tiêu đề...">
                    </div>
                    <div class="form-group">
                        <label>Nội dung tóm tắt</label>
                        <input name="abstract" type="text" class="form-control" placeholder="Nhập nội dung tóm tắt...">
                    </div>
                    <div class="form-group">
                        <label>Ảnh</label>
                        <input type="file" name="image">
                    </div>
                    <div class="form-group">
                        <div>
                            <label>Chuyên mục</label>
                            <select id="inputState" name="idCategory" class="form-control">
                                <option selected="selected">Chọn chuyên mục</option>
                                <%category.forEach(function(rows){%>
                                    <option value="<%=rows.id%>"><%=rows.name%></option>
                                <%});%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>Tag</label>
                            <select id="inputState" name="idTag" class="form-control">
                                <option selected="selected">Chọn Tag</option>
                                <%tag.forEach(function(rows){%>
                                    <option value="<%=rows.id%>"><%=rows.name%></option>
                                <%});%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 ml-100 xs-ml-150">
                            <button type="submit" class="btn btn-primary">Đăng bài</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-9 col-xs-12">
                    <script src="ckeditor/ckeditor.js">CKEDITOR.replace('editor');</script>
                    <label>Nội dung</label>
                    <textarea class="ckeditor" name="editor"></textarea>
                </div>
            </div>            
        </form>
    </div>
</div>
<%include ./layout/footer%>